<iframe id="brick-form-payment" frameborder="0"></iframe>
<style>
    #brick-form-payment {
        height: 500px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        let iframeSrc = '{{brick_form_url}}'
        $('#brick-form-payment').attr('src', iframeSrc)

        $('#place_order').hide()
        window.processBrickPlaceOrder = function () {
            $('#place_order').click()
        }
    })
</script>
