<script src="https://api.paymentwall.com/brick/brick.1.4.js"></script>
<div class="paymentwall-brick-form">
    <div id="brick-loading" style="display: none;">
        <ul class="woocommerce-message">
            <li><img src="{{plugin_url}}/assets/images/loading.gif"> Please wait while order is being processed...</li>
        </ul>
    </div>
    <div id="brick-errors" style="display: none;"></div>
    <input type="hidden" name="brick[token]" id="brick-token"/>
    <input type="hidden" name="brick[fingerprint]" id="brick-fingerprint"/>
    <input type="hidden" name="brick[success]" id="brick-get-token-success" value="0"/>
    <input type="hidden" name="brick[cc_brick_charge_id]" id="hidden-brick-charge-id"/>
    <input type="hidden" name="brick[cc_brick_secure_token]" id="hidden-brick-secure-token"/>

    <p class="form-row form-row form-row-wide validate-required">
        <label>
            <strong>{{entry_card_number}}</strong>
            <span class="required">*</span>
        </label>
        <input data-brick="card-number" id="card-number" class="input-text wc-credit-card-form-card-number"
               type="text" placeholder="•••• •••• •••• ••••" autocomplete="off"/>
    </p>

    <p class="form-row form-row form-row-wide validate-required">
        <label>
            <strong>{{entry_card_expiration}}</strong>
            <span class="required">*</span>
        </label>
        <span>
            <input data-brick="card-expiration-month" id="card-expiration-month" class="input-text"
                   type="text" placeholder="MM" size="2"/>
            / <input data-brick="card-expiration-year" id="card-expiration-year" class="input-text"
                     type="text" placeholder="YY" size="4"/>
        </span>
    </p>

    <p class="form-row form-row form-row-wide validate-required">
        <label>
            <strong>{{entry_card_cvv}}</strong>
            <span class="required">*</span>
        </label>
        <span>
            <input data-brick="card-cvv" id="card-cvv" class="input-text wc-credit-card-form-card-cvc" type="text"
                   placeholder="CVV" autocomplete="off"/>
        </span>
    </p>
    <br/>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        setTimeout(function() {
            Brick_Payment.createBrick('{{public_key}}');
        }, 3000);

        if (jQuery('input[name=wc-brick-payment-token]').length > 1) {
            jQuery('input:radio[name=wc-brick-payment-token]:first').attr('checked', true);
            jQuery('.paymentwall-brick-form').hide();

        }

        jQuery('input[name=wc-brick-payment-token]').click(function() {
            if (jQuery(this).val() == 'new') {
                jQuery('.paymentwall-brick-form').show();
                jQuery('#brick-loading').hide();
                jQuery('#brick-errors').hide();
            } else {
                jQuery('.paymentwall-brick-form').hide();
            }
        });

        jQuery('.paymentwall-brick-form').parent().prepend(jQuery('#brick-errors')).prepend(jQuery('#brick-loading'));
        
        // Brick manipulate the checkout
        jQuery('form.checkout').unbind('checkout_place_order_{{payment_id}}').on('checkout_place_order_{{payment_id}}', function (e) {
            if (jQuery('input[name=wc-brick-payment-token]:checked').val() == 'new' || jQuery('input[name=wc-brick-payment-token]:checked').val() == undefined) {
                // Check token created
                if (jQuery('#brick-get-token-success').val() == '1') {
                    jQuery('#brick-get-token-success').val(0)
                    return true;
                }
                Brick_Payment.brickTokenizeCard();
                return false;
            } else {
                window.addEventListener("message", Brick_Payment.threeDSecureMessageHandle, false);
                Brick_Payment.sendPaymentRequest();
                return false;
            }
        });

    });
</script>
<style>
    #card-expiration-month, #card-expiration-year, #card-cvv {
        width: 80px;
        display: inline-block;
    }
</style>
