<iframe id="brick-form-payment" frameborder="0" src="{{brick_form_url}}"></iframe>
<style>
    #brick-form-payment {
        min-height: 500px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var haveToken = '{{have_token}}'
        if (haveToken) {
            $('#place_order').show()
            $('#brick-form-payment').hide()
        } else {
            $('#brick-form-payment').show()
        }
        if ($('#payment_method_brick').is(':checked')) {
            $('#place_order').hide()
            var paymentMethod = $('input[name=wc-brick-payment-token]').val()
            if (typeof paymentMethod == 'undefined') {
                $('#place_order').hide()
            }
            if (paymentMethod !== 'new' && typeof paymentMethod !== 'undefined') {
                $('#place_order').show()
            }
            handleShowBrickForm()
        }

        $('input[name=payment_method]').click(function () {
            if ($(this).val() == 'brick') {
                $('#place_order').hide()
                if ($('input[name=wc-brick-payment-token]:checked').val() !== 'new' && typeof $('input[name=wc-brick-payment-token]').val() !== 'undefined') {
                    $('#place_order').show()
                } else {
                    $('#place_order').hide()
                }
                handleShowBrickForm()
            } else {
                $('#place_order').show()
            }
        })

        function handleShowBrickForm() {
            $('input[name=wc-brick-payment-token]').click(function () {
                if ($(this).val() === 'new') {
                    $('#brick-form-payment').show()
                    $('#place_order').hide()
                } else {
                    $('#brick-form-payment').hide()
                    $('#place_order').show()
                }
            })
        }


        brickSaveToAccount = $("#wc-brick-new-payment-method");
        if (brickSaveToAccount.length > 0) {
            brickSaveToAccount.hide();
            $("label[for='wc-brick-new-payment-method']").hide();

            window.trigger_save_card = function (save) {
                if (brickSaveToAccount.length == 0) {
                    return;
                }
                if (save) {
                    brickSaveToAccount.prop('checked', true);
                } else {
                    brickSaveToAccount.prop('checked', false);
                }
            }
        }

        window.processBrickPlaceOrder = function () {
            $('#place_order').click()
        }
    })
</script>
